:root { 
    --primary: #dceab2;
    --secondary: #475016;
    --cta: #880d1e;
    --light: #ffe5ec;
    --dark: #1b2021;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/font/Figtree-VariableFont_wght.ttf');
}

h1 { font-size: clamp(4.20rem, 20vw, 5.61rem); }
h2 { font-size: clamp(2.36rem, 5vw, 3.15rem); }
h3 { font-size: clamp(1.77rem, 5vw, 2.36rem); }
h4 { font-size: clamp(1.33rem, 5vw, 1.77rem); }
h5 { font-size: clamp(1.00rem, 5vw, 1.33rem); }
p { font-size: clamp(1.00rem, 5vw, 1.33rem); margin: 0; max-width: 80ch; }

body { margin: 0; padding: 0; background-color: var(--light); color: var(--dark); font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.8; scroll-behavior: smooth; }
blockquote { border-left: 0.5rem solid var(--dark); padding-left: 1rem; font-size: 1rem; 
    @media (min-width: 720px) { font-size: 1.2rem; }
    @media (min-width: 960px) { font-size: 1.5rem; }
    @media (min-width: 1600px) { font-size: 2rem; }
    @media (min-width: 2000px) { width: 72rem; }
}

header { position: fixed; top: 0; z-index: -1; width: 100%; text-align: center; } 
    h1 { margin: 0; padding: 0; }
    header p { margin: 0 auto; padding: 0; max-width: 18rem; font-size: 1.33rem; line-height: 1.4; }

main {  }
section:not(:first-of-type) { padding: 0 1rem; 
    @media (min-width: 540px) { padding: 0 2rem; }
    @media (min-width: 720px) { padding: 0 5rem; }
    @media (min-width: 960px) { padding: 0 10rem; }
    @media (min-width: 1600px) { padding: 0 20rem; }
    @media (min-width: 2000px) { padding: 0 30rem; }
}

.HeroParallax { position: relative; padding-top: 20rem; width: 100%; height: 150vw; overflow: hidden;
    @media (min-width: 380px) { padding-top: 30rem; height: 130vw; }
    @media (min-width: 580px) { padding-top: 40rem; height: 110vw; }
    @media (min-width: 720px) { padding-top: 50rem; height: 90vw; }
    @media (orientation: landscape) { padding-top: 52rem; height: 70vw; }
}
    .HeroParallax img { position: absolute; object-fit: cover; }
    #sun { bottom: 125vw; left: 50%; width: 7%; }
    #mountains { bottom: 100vw; width: 100%; }
    #clouds { bottom: 120vw; right: 40vw; width: 100vw; opacity: 0.4; }
    #hills { bottom: 7vw; width: 100%; }
    #right { bottom: 0; right: 0; width: 40vw; }
    #left { bottom: 0; left: 0; width: 25vw; }
    #book { bottom: 0; width: 100%; }

.HeroAbout { margin-top: -4rem; padding-top: 4rem; background-color: var(--primary); }
    .HeroAbout h2 { padding-top: 4rem; }
        .About { margin: 4rem 0;
            @media (min-width: 540px) { display: flex; gap: 1rem; align-items: center; }
            @media (min-width: 1080px) { gap: 2rem; }
        }
            .AboutImg { display: block; flex-shrink: 0; margin: 3rem auto 2rem; border-radius: 50%; width: 18rem; height: 18rem; background-color: var(--dark);
                @media (min-width: 540px) { margin: 0; width: 8rem; height: 8rem; }
                @media (min-width: 960px) { width: 12rem; height: 12rem; }
            }
            .AboutP { max-width: 80ch;
                @media (min-width: 540px) {  }
            }
            .About p.Noah { 
                @media (min-width: 540px) { order: 1; }
            }
            .About img.Noah { 
                @media (min-width: 540px) { order: 2; }
            }
        .HeroAbout blockquote { margin-top: 4rem; font-size: clamp(1.00rem, 5vw, 1.33rem); }
        .HeroImage { width: 100%; max-width: 25rem; }

footer { padding: 2rem 0; background-color: var(--dark); color: var(--light); text-align: center; }
    footer a { color: var(--light); }
    footer a:focus, footer a:hover { color: var(--primary); text-decoration: none; }