:root {
  --primary: #dceab2;
  --secondary: #475016;
  --cta: #880d1e;
  --light: #ffe5ec;
  --dark: #1b2021;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/font/Figtree-VariableFont_wght.ttf");
}
h1 {
  font-size: clamp(4.2rem, 20vw, 5.61rem);
}

h2 {
  font-size: clamp(3.15rem, 5vw, 4.2rem);
}

h3 {
  font-size: clamp(2.36rem, 5vw, 3.15rem);
}

h4 {
  font-size: clamp(1.77rem, 5vw, 2.36rem);
}

h5 {
  font-size: clamp(1.33rem, 5vw, 1.77rem);
}

h6 {
  font-size: clamp(1rem, 5vw, 1.33rem);
}

p {
  font-size: 1rem;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
  color: var(--dark);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  scroll-behavior: smooth;
}

blockquote {
  border-left: 0.5rem solid var(--dark);
  padding-left: 1rem;
  font-size: 1rem;
}
@media (min-width: 720px) {
  blockquote {
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  blockquote {
    font-size: 1.5rem;
  }
}
@media (min-width: 1600px) {
  blockquote {
    font-size: 2rem;
  }
}
@media (min-width: 2000px) {
  blockquote {
    width: 72rem;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0 auto;
  padding: 0;
  max-width: 18rem;
  font-size: 1.33rem;
  line-height: 1;
}

section:not(:first-of-type) {
  padding: 0 1rem;
}
@media (min-width: 720px) {
  section:not(:first-of-type) {
    padding: 0 10rem;
  }
}
@media (min-width: 960px) {
  section:not(:first-of-type) {
    padding: 0 20rem;
  }
}
@media (min-width: 1600px) {
  section:not(:first-of-type) {
    padding: 0 30rem;
  }
}
@media (min-width: 2000px) {
  section:not(:first-of-type) {
    padding: 0 40rem;
  }
}

.HeroParallax {
  position: relative;
  padding-top: 20rem;
  width: 100%;
  height: 150vw;
  overflow: hidden;
}
@media (min-width: 380px) {
  .HeroParallax {
    padding-top: 30rem;
    height: 130vw;
  }
}
@media (min-width: 580px) {
  .HeroParallax {
    padding-top: 40rem;
    height: 110vw;
  }
}
@media (min-width: 720px) {
  .HeroParallax {
    padding-top: 50rem;
    height: 90vw;
  }
}
@media (orientation: landscape) {
  .HeroParallax {
    padding-top: 52rem;
    height: 70vw;
  }
}

.HeroParallax img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

#sun {
  bottom: 125vw;
  left: 50%;
  width: 7%;
}

#mountains {
  bottom: 100vw;
  width: 100%;
}

#clouds {
  bottom: 120vw;
  right: 40vw;
  width: 100vw;
  opacity: 0.4;
}

#hills {
  bottom: 7vw;
  width: 100%;
}

#right {
  bottom: 0;
  right: 0;
  width: 40vw;
}

#left {
  bottom: 0;
  left: 0;
  width: 25vw;
}

#book {
  bottom: 0;
  width: 100%;
}

.HeroAbout {
  margin-top: -4rem;
  padding-top: 4rem;
  height: 400vh;
  background-color: var(--primary);
}

.HeroAbout p {
  color: var(--secondary);
}

.HeroAbout p span {
  position: relative;
  color: var(--primary);
  transition: 0.25s;
}

.HeroAbout p span.active {
  color: var(--dark);
}/*# sourceMappingURL=styles.css.map */